* {
  box-sizing: border-box;
}

body {
  background-color: #F2EBE3;
  margin: 0;
}

h1 {
  font-family: 'Fraunces', serif;
  margin: 0;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  padding-top: 5%;
  font-weight: normal;
  color: #84858E;
  letter-spacing: 6px;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: grey;
  font-size: 14px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 70%;
}

.perfume-image {
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  height: 100%;
  max-width: 50%;
  object-fit: cover;
}

.info {
  background-color: white;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-width: 50%;
  padding: 0 5%;
}

.prices {
  display: flex;
}

.price {
  font-family: 'Fraunces', serif;
  color: #3F8169;
  font-size: 2rem;
}

.fake-price {
  font-family: 'Fraunces', serif;
  color: grey;
  font-size: 12px;
  text-decoration: line-through;
  align-self: center;
  margin-left: 5%;
}

.add-button {
  font-family: 'Montserrat', sans-serif;
  background-color: #3D8168;
  color: #fff;
  border-radius: 9px;
  border: none;
  padding: 5%;
  margin: 5% 0 5% 0;
}

.attribution {
  font-size: 11px;
  position: absolute;
  bottom: 0;
}

/* mobile */

@media screen and (min-width: 320px) and (max-width: 425px) {
  p {
    font-size: 1.2rem;
    line-height: 1.5;
  }

  h1 {
    line-height: 1;
    font-size: 2.4rem;
  }

  h4 {
    padding-top: 2%;
    margin-bottom: 5%;
    font-size: 1.2rem;
  }

  .card {
    flex-direction: column;
    width: auto;
    height: 100vh;
    padding: 5%;
  }

  .perfume-image {
    content: url("../images/image-product-mobile.jpg");
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 0;
    max-width: 100%;
    flex: 1;
  }

  .info {
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    border-top-right-radius: 0;
    max-width: 100%;
    flex: 2;
    justify-content: space-around;
  }

  .attribution {
    display: none;
  }

  .add-button {
    font-size: 1.2rem;
    margin: 2% 0 5%;
  }
}

/* tablet */

@media screen and (min-width: 426px) and (max-width: 768px) {
  p {
    font-size: 1rem;
  }

  .card {
    width: 90%;
    height: 90%;
  }

  .info {
    justify-content: center;
  }

  .price {
    font-size: 26px;
  }

  .fake-price {
    margin-left: 3%;
  }
}

@media screen and (max-height: 515px) and (min-width: 426px) and (max-width: 768px) {

  .card {
    flex-direction: column;
    width: 95%;
  }

  .perfume-image {
    content: url("../images/image-product-mobile.jpg");
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 0;
    max-width: 100%;
    width: 100%;
    flex: 1;
  }

  .info {
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    border-top-right-radius: 0;
    max-width: 100%;
    flex: 2;
    justify-content: space-around;
  }

  .add-button {
    font-size: 18px;
  }

  .attribution {
    display: none;
  }

}

/* laptop */

@media screen and (min-width: 769px) and (max-width: 1024px) {

  .card {
    width: 60%;
  }

  .info {
    justify-content: center;
  }

}

@media screen and (max-height: 680px) and (min-width: 769px) and (max-width: 1024px) {

  .card {
    height: 80%;
  }

}

@media screen and (max-height: 510px) and (min-width: 769px) {

  .card {
    width: 95%;
    height: 95%;
  }

}
